.App{
    height: 100vh;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* h1{
     padding-bottom: 70px;
    } */


.books{
        display: flex;
        gap: 10px;
        margin-top: 50px;
}

.addButton{
    border: none;
    padding: 10px;
    margin-top: 40px;
    background-color: teal;

    .linkButton{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(208, 230, 223);
}

.delete{
    border: 1px solid rgb(245, 191, 191);
    padding: 3px 6px;
    background-color: white;
    color: rgb(242, 100, 100);
    cursor: pointer;
}

.update{
    border: 1px solid rgb(204, 204, 243);
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    color: rgb(139, 139, 234);

    .updateLink{
        text-decoration: none;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid grey;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(234, 150, 54);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    /* .books{
        display: flex;
        flex-direction: row;
    } */

  }
